<p id="notice"><%= notice %></p>

<p>
  <strong>Q1:</strong>
  <%= @name.q1 %>
</p>

<p>
  <strong>Q2:</strong>
  <%= @name.q2 %>
</p>

<p>
  <strong>Q3:</strong>
  <%= @name.q3 %>
</p>

<p>
  <strong>Q4:</strong>
  <%= @name.q4 %>
</p>

<p>
  <strong>Q5:</strong>
  <%= @name.q5 %>
</p>

<p>
  <strong>Q6:</strong>
  <%= @name.q6 %>
</p>

<p>
  <strong>Q7:</strong>
  <%= @name.q7 %>
</p>

<p>
  <strong>Q8:</strong>
  <%= @name.q8 %>
</p>

<p>
  <strong>Q9:</strong>
  <%= @name.q9 %>
</p>

<p>
  <strong>Q10:</strong>
  <%= @name.q10 %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @name.comment %>
</p>

<%= link_to 'Edit', edit_name_path(@name) %> |
<%= link_to 'Back', names_path %>
